.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.form-container {
  width: 280px;
  height: 300px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  padding: 10px;
  color: rgba(243, 244, 246, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 19px;
  font-weight: 700;
}

.form {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 240px;
  border-radius: 8px;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 10px 10px;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.sign {
  display: block;
  width: 180px;
  background-color: rgba(167, 139, 250, 1);
  padding: 10px;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 8px;
  font-weight: 600;
}


@media (max-width: 300px) {
  
  
  .form-container {
    width: 250px;
    height: 300px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 10px;
    color: rgba(243, 244, 246, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
  }
  
  .form {
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 240px;
    border-radius: 8px;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 10px 10px;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .sign {
    display: block;
    width: 180px;
    background-color: rgba(167, 139, 250, 1);
    padding: 10px;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 8px;
    font-weight: 600;
  }
  
  
}

